# Required python packages to install using pip
#   these packages NOT be installed in case of auto building using GitHub actions
#   they are only meant for the local venv
Sphinx
sphinxcontrib-plantuml
sphinxcontrib-drawio
